:root {
    --blue: rgb(0, 75, 175);
    --green: rgb(0, 255, 0);
    --dark: rgb(100, 100, 100);
    --light: rgb(200, 200, 200);
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 100%;
    min-height: 100vh;
}

header,
footer {
    min-height: 3.5rem;
    background-color: var(--dark);
    color: var(--light);
    padding-top: .35rem;
    padding-left: 7.25rem;
}

footer {
    padding-top: .8rem;
}

.main {
    min-height: 83.6vh;
    border-top: .5rem;
    border-bottom: .5rem;

}

.selectiondiv {
    min-height: 10rem;
}

.timesentence {
    min-height: 2rem;
}

.buttonimg {
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.7;
}

.buttonimg:hover {
    opacity: 0.85;
}

.radiobtn {
    margin-left: 15px;
    visibility: hidden;
}

.radiobtn:checked+label {
    border: 3px solid;
    border-radius: 5px;
    border-color: var(--green);
}

.radiobtn:checked+label>img {
    opacity: 1;
}

.hidden {
    visibility: hidden;
}

.result {
    color: var(--blue);
}